
div.calendar
{
  font-size: smaller;
  color: #000;
  z-index: 5;
  width: 217px;
 -webkit-user-select: none;        
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
  user-select: none;
  cursor: default;
}

div.calendar table
{
  background-color: #eee;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

div.calendar thead {
  background-color: white;
}

div.calendar td,
div.calendar th
{
  padding: 3px;
  text-align: center;
}

div.calendar td.title
{
  font-weight: bold;
}

div.calendar th
{
  background: #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #555;
}

div.calendar tr.days td {
  width: 2em;
  color: #555;
  text-align: center;
  cursor: pointer;
}

div.calendar tr.days td:hover,
div.calendar td.cvbutton:hover
{
  background-color: #34ABFA;
  cursor: pointer;
}

div.calendar .closeButton
{
  font-weight: bold;
  text-align: center;
  padding: 3px;
  position: absolute;
  right: 0;
  top: 0;
  width: 2em;
}

div.calendar .closeButton:hover
{
  background-color: #34ABFA;
  cursor: pointer;
}


div.calendar tr.days td:active
div.calendar td.cvbutton:active
{
  background-color: #cde;
}

div.calendar tr.days td.selected
{
  font-weight: bold;
  background-color: #fff;
  color: #000;
}

div.calendar tr.days td.today
{
  font-weight: bold;
  color: #D50000;
}

div.calendar tr.days td.otherDay
{
  color: #bbb;
}

div.calendar tr.days td.disabled
{
  background-color: #ddd;
  cursor: default;
  text-shadow: 1px 1px 0.01px #fff;
}
div.calendar tr.days td.disabled:not(.otherDay)
{
  color: #888;
}

div.popup td.title
{
  cursor: move;
}
