
div.calendar
{
  font-size: smaller;
  color: #000;
  width: 16em;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
  user-select: none;
  cursor: default;
}

div.calendar select
{
  font-size: small;
}

@media only screen and (max-width: 400px) {
  div.calendar {
    font-size: larger;
  }
  div.calendar select {
    font-size: large;
  }
}

div.calendar table
{
  background-color: white;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

div.calendar td,
div.calendar th
{
  padding: 3px;
  text-align: center;
}

div.calendar td.title
{
  font-weight: bold;
}

div.calendar th
{
  background: #eee;
  font-weight: bold;
  color: #555;
}

div.calendar tr.days td {
  box-sizing: content-box;
  width: 2em;
  color: #555;
  cursor: pointer;
}

div.calendar tr.days td:hover,
div.calendar td.cvbutton:hover
{
  background-color: #34ABFA;
  cursor: pointer;
}

div.calendar .closeButton
{
  font-weight: bold;
  text-align: center;
  padding: 3px;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: content-box;
  width: 2em;
}

div.calendar .closeButton:hover
{
  background-color: #34ABFA;
  cursor: pointer;
}


div.calendar tr.days td:active
div.calendar td.cvbutton:active
{
  background-color: #cde;
}

div.calendar tr.days td.selected
{
  font-weight: bold;
  color: #000;
}

div.calendar tr.days td.today
{
  color: #D50000;
}

div.calendar tr.days td.otherDay
{
  color: #bbb;
}

div.calendar th.weekend,
div.calendar tr.days .weekend
{
}

div.calendar tr.days td.disabled
{
  background-color: #eee;
  cursor: default;
}
div.calendar tr.days td.disabled:not(.otherDay)
{
  color: #888;
}

div.popup
{
  z-index: 5;
}

div.popup td.title
{
  cursor: move;
}

div.dropdown
{
  background-color: #fff;
  border: 1px solid #aaa;
}

div.dropdown table
{
  border: 0;
  margin-top: 5px;
}

div.dropdown td.title
{
  display: none;
}
